@model IEnumerable<SvNaum.Models.Prayer>

@{
    ViewBag.Title = "Молитвеник";
}

<h2>Молитвеник</h2>
<br />
@if (this.User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create prayer", "PrayerAdd", "Admin")
    <br />
    <br />
}

@if (Model != null && Model.Count() > 0)
{

    foreach (var item in Model)
    {
        <div>
            <h2>
                @Html.DisplayFor(m => item.Title)
            </h2>
            <h3>
                @Html.DisplayFor(m => item.TitleSecond)
            </h3>
            <p>
                @Html.Raw(item.Text)
            </p>
            <br />
            <div class="avtor">
                @Html.DisplayFor(m => item.Author)
            </div>
            <br />
            
            <div id="facebookButton" class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button">
            </div>

            @if (this.User.Identity.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink("Edit", "PrayerEdit", "Admin", new { id = item.Id }, null)
                    &nbsp;
                    @Html.ActionLink("Delete", "PrayerDelete", "Admin", new { id = item.Id }, null)
                </div>
            }

        </div>
    }
}
else
{
    <h3>There is no prayer!</h3>
}