@model SvNaum.Models.Prayer

@{
    ViewBag.Title = "Молитвеник";
}

@if (this.User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create prayer", "PrayerAdd", "Admin")
    <br />
    <br />
}

@if ((int)this.ViewBag.PrevPage >= 0)
{
    @Html.ActionLink("< предишна", "Breviary", "Home", new { page = this.ViewBag.PrevPage }, null)
    @:&nbsp;
}
else
{
    @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
}
|&nbsp;
@Html.ActionLink("следваща >", "Breviary", "Home", new { page = this.ViewBag.NextPage }, null)
<br />

@if (Model != null)
{
    <div>
        <h2>
            @Html.DisplayFor(m => m.Title)
        </h2>
        <h3>
            @Html.DisplayFor(m => m.TitleSecond)
        </h3>
        <p>
            @Html.Raw(Model.Text)
        </p>
        <br />
        <div class="avtor">
            @Html.DisplayFor(m => m.Author)
        </div>
        <br />

        <div id="facebookButton" class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button">
        </div>

        @if (this.User.Identity.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Edit", "PrayerEdit", "Admin", new { id = Model.Id }, null)
                &nbsp;
                @Html.ActionLink("Delete", "PrayerDelete", "Admin", new { id = Model.Id }, new { @class = "text-danger" })
            </div>
        }

    </div>
}
else
{
    <h3>There is no prayer!</h3>
}