@model IList<SvNaum.Models.ImagesGroup>

@{
    ViewBag.Title = "Фотоалбум";
}

@if (this.User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create Album", "ImagesGroupAdd", "Admin")
}

@foreach (var imagesGroup in Model)
{
    <div class="h2Gallery">
        <h2>@imagesGroup.Title</h2>
    </div>
    <div class="smallImagesGallery">
        @foreach (var item in imagesGroup.ImagesUrls)
        {
            <a class="fancybox" rel="group @imagesGroup.Id" href="@item.BigImageUrl"><img src="@item.SmallImageUrl" alt="Some image" /></a>
        }
    </div>
    
    if (this.User.Identity.IsAuthenticated)
    {
        <div>
            @Html.ActionLink("Edit", "ImagesGroupEdit", "Admin", new { id = imagesGroup.Id }, null)
            &nbsp;
            @Html.ActionLink("Delete", "ImagesGroupDelete", "Admin", new { id = imagesGroup.Id }, new { @class = "text-danger" })
        </div>
    }
}

<div class="h2Gallery">
    <h2>Летен празник 20.06.2015 година</h2>
</div>

<div class="smallImagesGallery">
    <a class="fancybox" rel="group" href="http://svnaum-images.mathematica6.org/letenPraznik/1.jpg"><img src="http://svnaum-images.mathematica6.org/letenPraznik/1small.jpg" alt="" /></a>
    <a class="fancybox" rel="group" href="http://svnaum-images.mathematica6.org/letenPraznik/2.jpg"><img src="http://svnaum-images.mathematica6.org/letenPraznik/2small.jpg" alt="" /></a>
    <a class="fancybox" rel="group" href="http://svnaum-images.mathematica6.org/letenPraznik/3.jpg"><img src="http://svnaum-images.mathematica6.org/letenPraznik/3small.jpg" alt="" /></a>
    <a class="fancybox" rel="group" href="http://svnaum-images.mathematica6.org/letenPraznik/4.jpg"><img src="http://svnaum-images.mathematica6.org/letenPraznik/4small.jpg" alt="" /></a>
    <a class="fancybox" rel="group" href="http://svnaum-images.mathematica6.org/letenPraznik/5.jpg"><img src="http://svnaum-images.mathematica6.org/letenPraznik/5small.jpg" alt="" /></a>
    <a class="fancybox" rel="group" href="http://svnaum-images.mathematica6.org/letenPraznik/6.jpg"><img src="http://svnaum-images.mathematica6.org/letenPraznik/6small.jpg" alt="" /></a>
    <a class="fancybox" rel="group" href="http://svnaum-images.mathematica6.org/letenPraznik/7.jpg"><img src="http://svnaum-images.mathematica6.org/letenPraznik/7small.jpg" alt="" /></a>
    <a class="fancybox" rel="group" href="http://svnaum-images.mathematica6.org/letenPraznik/8.jpg"><img src="http://svnaum-images.mathematica6.org/letenPraznik/8small.jpg" alt="" /></a>
</div>

@section style
{
    <link rel="stylesheet" href="~/Scripts/fancyapps-fancyBox-18d1712/source/jquery.fancybox.css" type="text/css" media="screen" />
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/fancyapps-fancyBox-18d1712/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
}