@model IEnumerable<SvNaum.Models.Sermon>

@{
    ViewBag.Title = "Проповеди";
}

@*<h2>Проповеди!</h2>*@
<br />
@if (this.User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create Sermon", "SermonAdd", "Admin")
    <br />
    <br />
}

@if (Model != null && Model.Count() > 0)
{

    foreach (var item in Model)
    {
        <div>
            @*@Html.LabelFor(m => item.Theme)*@
            @*@Html.DisplayFor(m => item.Theme)*@
            <br />
            @*@Html.LabelFor(m => item.Title)*@
           <h2> 
               @Html.DisplayFor(m => item.Title)
            </h2>
            <br />
            @*@Html.LabelFor(m => item.Text)*@
            <p>
                @Html.DisplayFor(m => item.Text)
            </p>
            <br />
            @*@Html.LabelFor(m => item.Author)*@
            <div class="avtor">
            @Html.DisplayFor(m => item.Author)
            </div>
            <br />

            @*@Html.LabelFor(m => item.Date)*@
            @Html.DisplayFor(m => item.Date.ToLocalTime().GetDateTimeFormats()[1])
            <br />

            <div id="facebookButton" class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button">
            </div>

            @if (this.User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Delete", "SermonDelete", "Admin", new { id = item.Id }, null)
                <br />
                @Html.ActionLink("Edit", "SermonEdit", "Admin", new { id = item.Id }, null)
            }
            
            

        </div>
    }
}
else
{
    <h3>There is no sermons!</h3>
}
