@model IEnumerable<SvNaum.Models.Ministration>

@{
    ViewBag.Title = "Служение";
}

<h2>Разписание на богослуженията в храм Св. Наум Охридски</h2>

@if (this.User.Identity.IsAuthenticated)
{
    @Html.ActionLink("Create new ministration", "TimetableAdd", "Admin")
}
<br />
<br />

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <div>
            <h3>@item.Title</h3>
            <table>
                <tr>
                    <td class="persent15">
                        @*<label>Day of week:</label>*@
                        <em>@item.DayName</em>
                        <br />
                    </td>
                    <td class="persent20">
                        @*<label>Date:</label>*@
                        <span>@item.Date.ToLocalTime().GetDateTimeFormats('D')[1]</span>
                        <br />
                    </td>
                    <td class="persent12">
                        @*<label>Time:</label>*@
                        @{
        string minute = item.Date.ToLocalTime().Minute.ToString();

        if (minute.Length == 1)
        {
            minute = "0" + minute;
        }
                        }

                        <span>@item.Date.ToLocalTime().Hour:@minute</span>
                        <br />
                    </td>
                    <td>
                        <p>@item.Description</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <div>
                                @Html.ActionLink("Edit", "MinistrationEdit", "Admin", new { id = item.Id }, null)
                                &nbsp;
                                @Html.ActionLink("Delete", "DeleteMinistration", "Admin", new { id = item.Id }, new { @class = "text-danger" })
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="textAlignCenter" colspan="4">
                        <img class="koncovka" src="~/Images/ornament.png" alt="line" />
                    </td>
                </tr>
            </table>

        </div>

    }
}
else
{
    <h3>There is no ministration!</h3>
}

